@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0C0B05;
    color: #FFFCF5;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container {
    width: 830px;
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.subtitle {
    font-size: 18px;
    color: #D3902A;
    margin-bottom: 10px;
    text-align: center;
}

a {
    color: #FFFCF5;
    transition-timing-function: ease-in;
    transition: 0.4s;
}

a:hover {
    color: #D3902A !important; 
    transition-timing-function: ease-in;
    transition: 0.3s;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }
}